
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.video-js {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
}

.vjs-default-skin {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #000;
}

.vjs-control-bar {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.vjs-button {
  color: #fff !important;
}