.frame-screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame-screen .frame-2 {
  background-color: #ffffff;
  height: 2415px;
  width: 1921px;
}
